@using ECommerceWeb.Common
@using System.Threading.Tasks
@using System.Net
@page "/categorias/list"
@inject HttpClient HttpClient

@inject ILogger<CategoriasListPage> Logger

<h3>Lista de Categorias 3</h3>

<div>
    <button type="button" @onclick="LoadData" class="btn btn-primary mb-3">Cargar Lista</button>
    <a href="/categorias/new" class="btn btn-success mb-3">Nueva Categoria</a>
</div>

@if (MostrarDatos)
{
    @if (Categorias.Count == 0)
    {
        <p class="alert alert-warning">No hay datos para mostrar.</p>
    }
    else
    {

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Categorias)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                        <td>@categoria.Descripcion</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    public ICollection<CategoriaDto> Categorias { get; set; } = new List<CategoriaDto>();
    public bool MostrarDatos { get; set; } = true;

    protected async Task LoadData()
    {
        var response = await HttpClient.GetAsync("api/categorias");
        if (response.IsSuccessStatusCode)
        {
            Categorias = await response.Content.ReadFromJsonAsync<ICollection<CategoriaDto>>() ?? new List<CategoriaDto>();
        }
    }

}