@using ECommerceWeb.Common
@using System.Threading.Tasks
@page "/categorias/list"
@inject HttpClient HttpClient

@inject ILogger<CategoriasListPage> Logger

<h3 class="mb-3">Lista de Categorias</h3>

<div class="mb-3">
    <button type="button" @onclick="LoadData" class="btn btn-primary mb-3"><i class="bi bi-arrow-clockwise me-1"></i>Cargar Lista</button>
    <a href="/categorias/new" class="btn btn-success mb-3"><i class="bi bi-plus-circle me-1"></i>Nueva Categoria</a>
</div>

@if (MostrarDatos)
{
    @if (Categorias.Count == 0)
    {
        <p class="alert alert-warning">No hay datos para mostrar.</p>
    }
    else
    {

        <table class="table table-hover table-stripped">
            <thead>
                <tr class="table-primary">
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var categoria in Categorias)
                {
                    <tr>
                        <td>@categoria.Id</td>
                        <td>@categoria.Nombre</td>
                        <td>@categoria.Descripcion</td>
                        <td>
                            <a href="/categorias/edit/@categoria.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></a>
                               <button class="btn btn-danger btn-sm" @onclick="() =>DeleteCategoria(categoria.Id)"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {
    public ICollection<CategoriaDto> Categorias { get; set; } = new List<CategoriaDto>();
    public bool MostrarDatos { get; set; } = true;

    protected async Task LoadData()
    {
        var response = await HttpClient.GetAsync("api/categorias");
        if (response.IsSuccessStatusCode)
        {
            Categorias = await response.Content.ReadFromJsonAsync<ICollection<CategoriaDto>>() ?? new List<CategoriaDto>();
        }
    }

    private async Task DeleteCategoria(int id)
    {
        var response = await HttpClient.DeleteAsync($"api/categorias/{id}");
        if (response.IsSuccessStatusCode)
        {
            await LoadData();    
        }
    }

}