@using Blazored.Toast
@inherits LayoutComponentBase

<BlazoredToasts />

<div class="auth-layout position-relative">
    <div class="auth-bg"></div>
    <div class="container position-relative">
        <div class="row min-vh-100 align-items-center justify-content-center g-5 py-4">
            <div class="col-lg-5 d-none d-lg-flex justify-content-center">
                <img class="auth-illustration img-fluid" src="assets/images/fondologin.png" alt="Portal Galaxy" />
            </div>
            <div class="col-12 col-md-10 col-lg-5 d-flex flex-column align-items-stretch">
                <main class="w-100" role="main">
                    @Body
                </main>
            </div>
        </div>
    </div>
</div>